<!doctype html>
<html>
  <head>
    <title>최원</title>
    <meta name="description" content="어플리케이션 기획/개발 프리랜서 360도 VR 미디어 크리에이터">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="최원">
    <meta property="og:description" content="어플리케이션 기획/개발 프리랜서 360도 VR 미디어 크리에이터">
    <meta property="og:url" content="https://myso-kr.github.io/html5-roulette-generator/">
    <meta property="og:image" content="https://avatars2.githubusercontent.com/u/1237913">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cw4196">
    <meta name="twitter:title" content="최원">
    <meta name="twitter:description" content="어플리케이션 기획/개발 프리랜서 360도 VR 미디어 크리에이터">
    <meta property="profile:first_name" content="Won">
    <meta property="profile:last_name" content="Choi">
  </head>
  <body>
    init
  </body>
</html>
